<div class=halaman>
	[ktkp_logo_daerah]
    <p class="cntr">[ktkp_nama_daerah]</p>
    <h3 class=judul>[ktkp_opd]</h3> 
    <p class="cntr">[ktkp_alamat_opd]</p> 
    <p class="cntr">MAGETAN</p>

    <h4 class="judul">SURAT PERINTAH SPK(SPK)</h4>

    <p class="cntr">NOMOR : 02/403.113/08JT.TIK/SPK/PPK/I/2021</p>
    <P class="cntr">TANGGAL : 4 JANUARI 2021</P>

    <table class="fsize">
        <tr>
            <td style="width: 30%;vertical-align: top;">KEGIATAN</td>
            <td style="width: 5%;vertical-align: top;">:</td>
            <td style="width: 65%;">PENYEDIAAN JASA PENUNJANG URUSAN PEMERINTAHAN DAERAH</td>
        </tr>
        <tr>
            <td style="width: 30%;">PEKERJAAN</td>
            <td style="width: 5%;">:</td>
            <td style="width: 65%;">BELANJA JASA TENAGA AHLI (PROGRAMMER TINGKAT LANJUT)</td>
        </tr>
        <tr>
            <td style="width: 30%;">LOKASI</td>
            <td style="width: 5%;">:</td>
            <td style="width: 65%;">KABUPATEN MAGETAN</td>
        </tr>
        <tr>
            <td style="width: 30%;vertical-align: top;">NILAI</td>
            <td style="width: 5%;vertical-align: top;">:</td>
            <td style="width: 65%;">Rp. 52.000.000,00 
            	<br>Limapuluh Dua Juta Rupiah</td>
        </tr>
        <tr>
            <td style="width: 30%;">PENYEDIA</td>
            <td style="width: 5%;">:</td>
            <td style="width: 65%;">AGUS NURWANTO</td>
        </tr>
        <tr>
            <td style="width: 30%;">ALAMAT</td>
            <td style="width: 5%;">:</td>
            <td style="width: 65%;">RT. 06/RW.02 Desa Genengan Kecamatan Kawedanan, Kabupaten Magetan</td>
        </tr>
    </table>

    <h4 class="judul">TAHUN ANGGARAN 2021</h4>

</div>